* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.subHeading {
  font-size: 1rem;
  font-weight: 800;
}

.redText {
  font-size: 1rem;
  font-weight: 700;
  color: red;
}

.underlineText {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
}

.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem;
  flex-wrap: wrap;
}

.navigation p {
  font-weight: 700;
  flex: 1;
  text-align: center;
  padding: 5px;
  cursor: default;
}

.navigation button {
  all: unset;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.editor {
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid gainsboro;
}

.editor.active {
  border: 2px solid gray;
}