/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@400;700&display=swap');

:root {
    --primary-header-color: yellow;
    --primary-theme-color: #e3edf7;
    --primary-bg-color: #f6f8ff;
    --primary-text-color: #000;
    --secondary-text-color: #727272;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--primary-text-color)
}


/* General styles */
html,
body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.shadow-container {
    border-radius: 8px;
    background-color: var(--primary-theme-color);
    box-shadow: 10px 10px 10px 0px rgba(166, 180, 200, 0.70), -12px -12px 20px 0px rgba(255, 255, 255, 0.80);

}

.vertical-line {
    border-left: 3px solid var(--primary-text-color);
    height: 100%;
}

.text-center {
    text-align: center;
}

/*Custom scrollbar */
/* Hide scrollbar */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* The emerging W3C standard
   that is currently Firefox-only */
.show-custom-scrollbar {
    cursor: pointer;
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) black;
}

.show-custom-scrollbar.custom-scrollbar-invert {
    scrollbar-color: rgba(255, 0, 0, 0.5) #D9D9D9;
}

/* Works on Chrome/Edge/Safari */
.show-custom-scrollbar::-webkit-scrollbar {
    display: block;
    width: 8px;
    cursor: pointer;
}

.show-custom-scrollbar::-webkit-scrollbar-track {
    display: block;
    background: transparent;
}

.show-custom-scrollbar.custom-scrollbar-invert.custom-scrollbar-track-light::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 10px;
}

.show-custom-scrollbar::-webkit-scrollbar-thumb {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.show-custom-scrollbar.custom-scrollbar-invert::-webkit-scrollbar-thumb {
    background-color: var(--primary-theme-color);
    box-shadow: 0px 1px 2px black;
}

.show-custom-scrollbar.custom-scrollbar-thin::-webkit-scrollbar-thumb {
    width: 2px;
    height: 2px;
}


/* Header part */
.header {
    padding: 16px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.profile-img {
    border: 2px solid var(--primary-header-color);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile p {
    font-size: 32px;
}

.header .right-section {
    display: flex;
    gap: 14px;
}

.header .right-section span {
    font-size: 24px;
}

.header .right-section .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--primary-header-color);
    cursor: pointer;
}

.header .right-section .score {
    background-color: var(--primary-header-color);
}

/* Main content */
.main .flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Left side content */
.main .left-col {
    flex: 65%;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

.main .left-col .banner {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    border: 3px solid white;
    box-shadow: 3px 3px 5px black;
}

.main .left-col .banner img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.main .left-col .course {
    width: 100%;
    padding: 24px 34px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.main .left-col .course h2 {
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

.main .left-col .tabs {
    display: flex;
    gap: 10px;
}

.main .left-col .card-wrapper {
    height: 160px;
    padding: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .left-col .card {
    display: flex;
    gap: 20px;
    padding: 10px 10px;
}

.main .left-col .card .img-wrap {
    width: 40%;
}

.main .left-col .card img {
    object-fit: contain;
    width: 100%;
}


.main .left-col .card .content-wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .left-col .card .content-wrap .date {
    display: flex;
    gap: 10px;
}

.main .left-col .card .content-wrap .date img {
    width: fit-content;
}


.main .left-col .card .content-wrap input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(182, 182, 182);
    padding-left: 10px;
}


.main .left-col .tab {
    font-size: 20px;
    padding: 10px 20px;
    color: var(--secondary-text-color);
    cursor: pointer;
}

.main .left-col .active {
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    color: var(--primary-text-color);
}

/* Right side content */
.main .right-col {
    flex: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.main .right-col .rank,
.main .right-col .stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 40px 30px;
    font-weight: 700;
}

.main .right-col .rank h1 {
    font-size: 36px;
    font-weight: 800;
}

.main .right-col .rank h3 {
    font-size: 24px;
    font-weight: 400;
}

.main .right-col .stats h2 {
    font-size: 32px;
    font-weight: 800;
}

.main .right-col .stats h4 {
    font-size: 20px;
    font-weight: 400;
}

.main .right-col .feature h2,
.main .right-col .campaign h2 {
    font-family: 'Work Sans', sans-serif;
}

.main .right-col .feature {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .right-col .feature-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 3%;
    row-gap: 16px;
}

.main .right-col .feature .box {
    width: 22%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* margin-bottom: 16px; */
    cursor: pointer;
}

.main .right-col .feature .box h5 {
    text-align: center;
}

.main .right-col .campaign {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.main .right-col .campaign-content {
    display: flex;
    justify-content: space-between;
}

.main .right-col .campaign .box {
    overflow: hidden;
    height: 150px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.main .right-col .campaign .box .box-bottom {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.main .right-col .campaign .box-top {
    flex: 2;
    width: auto;
}

.main .right-col .campaign .box-top img {
    width: auto;
    object-fit: scale-down;
}